body{
  background-image: url("../img/home.jpg");
  background-size: cover;


}
#canvas {
  border: 1px solid red;
  display: block;
  margin: 0 auto;
 /* background-image: url("../img/bg-1") */
}

.home{
  width: 1000px;
  height: 600px;
  margin: 0 auto;

}

.start {
  width: 240px;
  height: 80px;
  border-radius: 10px;
  margin-left: 650px;
  margin-top: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.9rem;
  color: orange;
  font-weight: bold;
  background-color: #045FB4;
  border: 2px solid orange;
  transform: rotate(0deg)
}

.hide1{
  display:none;
}



.mark{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
  border: 1px solid red;
  margin-top: 10px;

  
}
#score {
  width: 100px;
  height: 100px;
  background-color: midnightblue;
  border: 3px solid RED;
  color: white;
  font-size: 2rem;
  text-align: center

}

#timer{
  width: 100px;
  height: 100px;
  background-color: midnightblue;
  border: 3px solid RED;
  color: white;
  font-size: 2rem;
  display: block
}